<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="../favicon/ferarri.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
  <title>Car &Aacute; Services</title>
</head>

<body>

  <nav class="up__nav navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <div class="logo__div">
        <a href="home.html" class="navbar-brand text-decoration-none text-body-emphasis">
          <img src="../images/homeImages/vecteezy_sports-car-logo_7414852.png" alt="Car Logo" style="width: 70px;">
          <span class="text-danger-emphasis align-middle">automotive</span>
        </a>
      </div>
      <button class="navbar-toggler nav__bu" type="button" data-bs-toggle="collapse"
        data-bs-target="#content__responsive" aria-controls="content__responsive" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse content " id="content__responsive">
        <ul class="navbar-nav m-auto  mb-2 mb-lg-0">

          <li class="mb-2"><a class="text-decoration-none" href="home.html"><i class="fa-solid fa-house"></i>home</a>
          </li>

          <li class="mb-2"><a class="text-decoration-none" href="cars.html"><i class="fa-solid fa-car"></i>cars</a></li>
          <li class="mb-2"><a class="text-decoration-none" href="services.html"><i
                class="fa-solid fa-print"></i>services</a></li>
          <li class="mb-2"><a class="text-decoration-none" href="about.html"><i
                class="fa-regular fa-address-card"></i>about</a></li>
          <li class="mb-2"><a class="text-decoration-none" href="../../index.html"><i
                class="fa-solid fa-arrow-right-from-bracket"></i>log out</a></li>

        </ul>
        <ul class="navbar-nav m-0  mb-2 mb-lg-0 list-of-communication">
          <li>
            <a class="text-decoration-none" href="https://www.facebook.com/groups/297975541680668/">
              <i class="fa-brands fa-facebook"></i><span class="d-lg-none">facebook</span>
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="tel:+201270088062">
              <i class="fa-solid fa-phone-volume"></i><span class="d-lg-none">telephone</span>
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="https://www.youtube.com/watch?v=UdZ9mE9qmPo">
              <i class="fa-brands fa-youtube"></i><span class="d-lg-none">youtube</span>
            </a>
          </li>
        </ul>
      </div>


    </div>
  </nav>
  <!-- end nav bar -->

  <section class="container-about position-relative py-5 ">
    <div class="bg-rgb">

    </div>
    <div class="container-md position-relative z-1 py-5 ">
      <div class="d-flex justify-content-center pt-5">
        <h1 class=" px-3 special-font mb-0">About us</h1>
      </div>
      <div class="about">
        <div class="about-border d-flex justify-content-evenly py-5">
          <div class="w-50 align-self-center text-center">
            <h2 class="mb-3 text-capitalize">who are we</h2>
          </div>
          <div class="line d-md-block d-sm-none"></div>
          <div class="head-para w-50 px-md-5 px-sm-0">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit adipisci perferendis
              eaque repellendus odit fugit reprehenderit non eos porro natus, minus nemo totam. Facere
              tempora at quibusdam consectetur recusandae?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit adipisci perferendis
              eaque repellendus odit fugit reprehenderit non eos porro natus, minus nemo totam. Facere
              tempora at quibusdam consectetur recusandae?
            </p>
          </div>
        </div>
        <div class="about-border d-flex justify-content-evenly py-5 ">
          <div class="head-para w-50 px-md-5 px-sm-0 text-end" id="opposite-direction-p1">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit adipisci perferendis
              Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Deleniti sit adipisci perferendis eaqueeaque repellendus odit
              fugit reprehenderit non eos porro natus, minus nemo totam. Facere tempora at quibusdam
              consectetur recusandae?
            </p>
          </div>
          <div class="line d-md-block d-sm-none"></div>
          <div class="w-50 align-self-center text-center" id="opposite-direction-p2">
            <h2 class="mb-3 text-capitalize">our aim </h2>
          </div>
        </div>
        <div class="about-border d-flex justify-content-evenly py-5">
          <div class="w-50 align-self-center text-center">
            <h2 class="mb-3 text-capitalize">our goal</h2>
          </div>
          <div class="line d-md-block d-sm-none"></div>
          <div class="head-para w-50 px-md-5 px-sm-0">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit adipisci perferendis
              eaque repellendus odit
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit adipisci perferendis
              eaque fugit reprehenderit non eos porro natus, minus nemo totam. Facere tempora at quibusdam
              consectetur recusandae?
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="team-about position-relative z-1 py-5">
    <div class="bg-rgb">

    </div>
    <div class="container-md py-3 position-relative z-2">
      <h2 class="mb-5">our team</h2>

      <div class="head-team ">

        <div class="team-item ">
          <div class="image-handle m-auto">
            <img src="../images/about/speaker_03.jpg" alt="speaker_03">

          </div>
          <p class="item-name mt-lg-5 mt-md-2 text-center">martha richard</p>
        </div>

        <div class="team-item">
          <div class="image-handle m-auto">
            <img src="../images/about/speaker_05.jpg" alt="speaker_05">
          </div>

          <p class="item-name mt-lg-5 mt-md-2 text-center">john kidney</p>
        </div>

        <div class="team-item  text-center">
          <div class="image-handle m-auto">
            <img src="../images/about/speaker_07.jpg" alt="speaker_07">

          </div>

          <p class="item-name mt-lg-5 mt-md-2 text-center">kelly milles</p>
        </div>
      </div>
    </div>


  </section>

  <!-- start footer -->
  <footer class="text-center">
    <div class="contactFooter">
      <div class="p-3">

        <h2 class="fw-bolder">our branches</h2>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="https://goo.gl/maps/c6jThwkyiut7XvhK6" target="_blank"><i
                class="fa-solid fa-location-dot"></i> japanese</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/CJzUJLtw2aRb5mRk9" target="_blank"><i
                class="fa-solid fa-location-dot"></i> england</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/CVSoxmEhfQ5ciRXZ6" target="_blank"><i
                class="fa-solid fa-location-dot"></i> america</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/r87z3SvnJNJ5NayH9" target="_blank"><i
                class="fa-solid fa-location-dot"></i> france</a></li>
        </ul>

      </div>
      <div class="p-3">

        <h2 class="fw-bolder">quick link</h2>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="home.html"><i class="fa-solid fa-house"></i> home</a></li>
          <li><a class="text-decoration-none" href="cars.html"><i class="fa-solid fa-car"></i> cars</a></li>
          <li><a class="text-decoration-none" href="services.html"><i class="fa-solid fa-print"></i> services</a></li>
          <li><a class="text-decoration-none" href="about.html"><i class="fa-regular fa-address-card"></i> about</a>
          </li>
        </ul>

      </div>
      <div class="p-3">

        <h2 class="fw-bolder">contact info</h2>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none" href="https://www.facebook.com/groups/297975541680668/" target="_blank">
              <i class="fa-brands fa-facebook"></i> facebook
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="tel:+201270088062" target="_blank">
              <i class="fa-solid fa-phone-volume"></i> telephone
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="https://www.youtube.com/watch?v=UdZ9mE9qmPo" target="_blank">
              <i class="fa-brands fa-youtube"></i> youtube
            </a>
          </li>
        </ul>

      </div>
    </div>

    <hr class="w-100 m-auto">
    <div class="reserved">
      <h3 class="mb-0 fw-bolder">created by mr. web devolopment &DoubleVerticalBar; all rights reserved</h3>
    </div>

  </footer>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/dynamic.js"></script>
</body>

</html>