<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="../favicon/ferarri.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
  <title>Car &Aacute; Services</title>
</head>

<body>
  
  <nav class="up__nav navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <div class="logo__div">
        <a href="home.html" class="navbar-brand text-decoration-none text-body-emphasis">
          <img src="../images/homeImages/vecteezy_sports-car-logo_7414852.png" alt="Car Logo" style="width: 70px;">
          <span class="text-danger-emphasis align-middle">automotive</span>
        </a>
      </div>
      <button class="navbar-toggler nav__bu" type="button" data-bs-toggle="collapse"
        data-bs-target="#content__responsive" aria-controls="content__responsive" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse content " id="content__responsive">
        <ul class="navbar-nav m-auto  mb-2 mb-lg-0">

          <li class="mb-2"><a class="text-decoration-none " href="home.html"><i class="fa-solid fa-house"></i>home</a>
          </li>

          <li class="mb-2"><a class="text-decoration-none " href="cars.html"><i class="fa-solid fa-car"></i>cars</a>
          </li>
          <li class="mb-2"><a class="text-decoration-none " href="services.html"><i
                class="fa-solid fa-print"></i>services</a></li>
          <li class="mb-2"><a class="text-decoration-none " href="about.html"><i
                class="fa-regular fa-address-card"></i>about</a></li>
          <li class="mb-2"><a class="text-decoration-none " href="../../index.html"><i
                class="fa-solid fa-arrow-right-from-bracket"></i>log out</a></li>

        </ul>
        <ul class="navbar-nav m-0  mb-2 mb-lg-0 list-of-communication">
          <li>
            <a class="text-decoration-none" href="https://www.facebook.com/groups/297975541680668/">
              <i class="fa-brands fa-facebook"></i><span class="d-lg-none">facebook</span>
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="tel:+201270088062">
              <i class="fa-solid fa-phone-volume"></i><span class="d-lg-none">telephone</span>
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="https://www.youtube.com/watch?v=UdZ9mE9qmPo">
              <i class="fa-brands fa-youtube"></i><span class="d-lg-none">youtube</span>
            </a>
          </li>
        </ul>
      </div>


    </div>
  </nav>



  <section class="hero__section ">
    <article class="text-center">
      <h2 class="fw-bold fs-1">welcome in our site</h2>
      <p class="fw-bold fs-1">here you can find everything you need</p>
    </article>

    <video src="../vedios/chevorlai.mp4" muted autoplay loop></video>

  </section>

  <section class="card_situation">
    <h2 class="mt-5 mb-5 border-bottom border-5 w-50 m-auto">our views</h2>
    <div class="card_situation__container">
      <div class="cards">
        <div class="card_logo"><i class="fa-solid fa-house"></i></div>

        <div>
          <p>150+</p>
          <p>branches</p>
        </div>

      </div>
      <div class="cards">
        <div class="card_logo"><i class="fa-solid fa-car"></i></div>
        <div>
          <p>5500+</p>
          <p>cars sold</p>
        </div>

      </div>

      <div class="cards">
        <div class="card_logo"><i class="fa-solid fa-people-group"></i></div>
        <div>
          <p>320+</p>
          <p>happy clients</p>
        </div>
      </div>

      <div class="cards">
        <div class="card_logo"><i class="fa-solid fa-car"></i></div>
        <div>
          <p>1500+</p>
          <p>news cars</p>
        </div>
      </div>
    </div>



  </section>



  <!-- cars card -->

  <section class="vehicles mb-5" id="vehicles">
    <h2 class="head mb-5">popular vehicles</h2>
    <div class="swiper vehicles-slider pb-5">

      <div class="swiper-wrapper wrapper">


        <div class="swiper-slide box swiper-slide-active">
          <img src="../images/homeImages/vehicles/alcazar-exterior-right-front-three-quarter.jpeg" alt="hyndai cars">
          <div class="content_box">
            <h3>hyndai elentra</h3>
            <div class="price">
              <span>price: $50000</span>
            </div>
            <p>
              <span class="fas fa-circle"></span>
              new
              <span class="fas fa-circle"></span>
              2021
              <span class="fas fa-circle"></span>
              automatic
              <span class="fas fa-circle"></span>
              253mph

            </p>
            <a class="btn btn-outline-secondary " href="cars.html">check out</a>
          </div>
        </div>



        <div class="swiper-slide box swiper-slide-active">
          <img src="../images/homeImages/vehicles/i20-exterior-right-front-three-quarter-5.jpeg" alt="hyndai cars">
          <div class="content_box">
            <h3>hyndai accent</h3>
            <div class="price">
              <span>price: $60000</span>
            </div>
            <p>
              <span class="fas fa-circle"></span>new
              <span class="fas fa-circle"></span>2022
              <span class="fas fa-circle"></span>automatic
              <span class="fas fa-circle"></span>210mph

            </p>
            <a class="btn btn-outline-secondary" href="cars.html">check out</a>
          </div>
        </div>



        <div class="box swiper-slide swiper-slide-active">
          <img src="../images/homeImages/vehicles/grand-i10-nios-facelift-exterior-right-front-three-quarter-2.jpeg"
            alt="hyndai cars">
          <div class="content_box">
            <h3>hyndai sonata</h3>
            <div class="price">
              <span>price: $780000</span>
            </div>
            <p>
              <span class="fas fa-circle"></span>new
              <span class="fas fa-circle"></span>2020
              <span class="fas fa-circle"></span>automatic
              <span class="fas fa-circle"></span>290mph

            </p>
            <a class="btn btn-outline-secondary" href="cars.html">check out</a>
          </div>
        </div>



        <div class="box swiper-slide swiper-slide-active">
          <img src="../images/homeImages/vehicles/aura-2023-exterior-right-front-three-quarter.jpeg" alt="hyndai cars">
          <div class="content_box">
            <h3>hyndai velstor</h3>
            <div class="price">
              <span>price: $980000</span>
            </div>
            <p>
              <span class="fas fa-circle"></span>new
              <span class="fas fa-circle"></span>2022
              <span class="fas fa-circle"></span>automatic
              <span class="fas fa-circle"></span>258mph

            </p>
            <a class="btn btn-outline-secondary" href="cars.html">check out</a>
          </div>
        </div>



        <div class="box swiper-slide swiper-slide-active">
          <img src="../images/homeImages/vehicles/venue-n-line-exterior-right-front-three-quarter2.jpeg"
            alt="hyndai cars">
          <div class="content_box">
            <h3>hyndai azera</h3>
            <div class="price">
              <span>price: $656500</span>
            </div>
            <p>
              <span class="fas fa-circle"></span>new
              <span class="fas fa-circle"></span>2022
              <span class="fas fa-circle"></span>automatic
              <span class="fas fa-circle"></span>210mph

            </p>
            <a class="btn btn-outline-secondary" href="cars.html">check out</a>
          </div>
        </div>


        <div class="box swiper-slide swiper-slide-active">
          <img src="../images/homeImages/vehicles/new-tucson-exterior-right-front-three-quarter-5.jpeg"
            alt="hyndai cars">
          <div class="content_box">
            <h3>hyndai santa fe</h3>
            <div class="price">
              <span>price: $750000</span>
            </div>
            <p>
              <span class="fas fa-circle"></span>new
              <span class="fas fa-circle"></span>2022
              <span class="fas fa-circle"></span>automatic
              <span class="fas fa-circle"></span>220mph

            </p>
            <a class="btn btn-outline-secondary" href="cars.html">check out</a>
          </div>
        </div>


        <div class="box swiper-slide swiper-slide-active">
          <img src="../images/homeImages/vehicles/verna-facelift-exterior-right-front-three-quarter2.jpeg"
            alt="hyndai cars">
          <div class="content_box">
            <h3>hyndai iyonic</h3>
            <div class="price">
              <span>price: $850000</span>
            </div>
            <p>
              <span class="fas fa-circle"></span>new
              <span class="fas fa-circle"></span>2022
              <span class="fas fa-circle"></span>automatic
              <span class="fas fa-circle"></span>255mph

            </p>
            <a class="btn btn-outline-secondary" href="cars.html">check out</a>
          </div>
        </div>



      </div>
      <div class="swiper-pagination"></div>
    </div>

  </section>

  <!-- end cars card -->




  <!-- cards review -->

  <section class="cards-review  mb-5">
    <h2 id="jq-review" class="mb-5">reviews</h2>

    <div class="cards-review_container " >

      <span id="prev" class="arrow-left" onclick="prev()"></span>
      <span id="next" class="arrow-right" onclick="next()"></span>

      <div class="cards-contains-container position-relative z-1">
        <div class="bg-rgb">

        </div>
        <div class="card-contain active-slide position-relative z-2">

          <div class="card-containing-body">
            <div class="card-contain-img">
              <img src="../images/homeImages/review/customer-2.jpg" alt="reviews">
            </div>

            <div class="info-card">

              <p class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p class="name-person">jonasan doe</p>
            </div>

          </div>

          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus iure non consequuntur.
            Facere consectetur dolore sapiente
          </p>



        </div>

        <div class="card-contain position-relative z-2">

          <div class="card-containing-body">
            <div class="card-contain-img">
              <img src="../images/homeImages/review/customer-3.jpg" alt="reviews">
            </div>

            <div class="info-card">

              <p class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p class="name-person">emma stone</p>
            </div>

          </div>

          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus iure non consequuntur.
            Facere consectetur dolore sapiente
          </p>



        </div>

        <div class="card-contain position-relative z-2">

          <div class="card-containing-body">
            <div class="card-contain-img">
              <img src="../images/homeImages/review/customer-4.jpg" alt="reviews">
            </div>

            <div class="info-card">

              <p class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p class="name-person">john casper</p>
            </div>

          </div>

          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus iure non consequuntur.
            Facere consectetur dolore sapiente
          </p>



        </div>
        <div class="card-contain position-relative z-2">

          <div class="card-containing-body">
            <div class="card-contain-img">
              <img src="../images/homeImages/review/customer-1.jpg" alt="reviews">
            </div>

            <div class="info-card">

              <p class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p class="name-person">evan elison</p>
            </div>

          </div>

          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus iure non consequuntur.
            Facere consectetur dolore sapiente
          </p>



        </div>

      </div>


    </div>
  </section>

  <!-- end cards review -->

  <!-- Message send -->
  <section class="message_send mb-5">
    <h2 id="jq-message" class="mb-5">contucts us</h2>
    <div class="message_send_contain">
      <div class="message_send_contain_map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.7436109310624!2d-121.93620059999999!3d37.3958952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc9bc8bbf7e99%3A0xaf4a736e1fff7311!2sAudi%20Automated%20Driving%20Development!5e0!3m2!1sar!2seg!4v1683301424038!5m2!1sar!2seg"
          style="border: 5px; border-radius: 10px;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="message_content_form">
        <div class="bg_login">

        </div>
        <h3>message send</h3>

        <form  action="home.html" onsubmit="form2(event)" method="post" autocomplete="on" >

          <div class="name_group group-edit">
            <label for="name">your name</label>
            <input id="name_message" type="text" minlength="5" maxlength="20" placeholder="Name">
            <p id="name_error"></p>
          </div>

          <div class="email_group group-edit">
            <label for="email">your email</label>
            <input id="email_message" type="email" minlength="5" maxlength="30" placeholder="example@.com">
            <p id="email_error"></p>
          </div>

          <div class="subject_group group-edit">
            <label for="subject">subject</label>
            <input id="subject_message" type="text" minlength="5" maxlength="15" placeholder="subject">
            <p id="subject_error"></p>
          </div>
          <div class="message_group group-edit">
            <label for="message">subject</label>
            <textarea id="message_message"></textarea>
            <p id="message_error"></p>
          </div>

          <div class="button group-edit group-button">
            <button id="btn-form-message"  type="submit" class="log"><a href="home.html" >login</a></button>            <input class="res" type="reset" value="Reset">
          </div>

        </form>
      </div>
    </div>
  </section>
  <!-- Message send -->


  <!-- Footer -->
  <footer class="text-center">
    <div class="contactFooter">
      <div class="p-3">

        <h2 class="fw-bolder">our branches</h2>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="https://goo.gl/maps/c6jThwkyiut7XvhK6" target="_blank"><i
                class="fa-solid fa-location-dot"></i> japanese</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/CJzUJLtw2aRb5mRk9" target="_blank"><i
                class="fa-solid fa-location-dot"></i> england</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/CVSoxmEhfQ5ciRXZ6" target="_blank"><i
                class="fa-solid fa-location-dot"></i> america</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/r87z3SvnJNJ5NayH9" target="_blank"><i
                class="fa-solid fa-location-dot"></i> france</a></li>
        </ul>

      </div>
      <div class="p-3">

        <h2 class="fw-bolder">quick link</h2>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="home.html"><i class="fa-solid fa-house"></i> home</a></li>
          <li><a class="text-decoration-none" href="cars.html"><i class="fa-solid fa-car"></i> cars</a></li>
          <li><a class="text-decoration-none" href="services.html"><i class="fa-solid fa-print"></i> services</a></li>
          <li><a class="text-decoration-none" href="about.html"><i class="fa-regular fa-address-card"></i> about</a>
          </li>
        </ul>

      </div>
      <div class="p-3">

        <h2 class="fw-bolder">contact info</h2>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none" href="https://www.facebook.com/groups/297975541680668/" target="_blank">
              <i class="fa-brands fa-facebook"></i> facebook
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="tel:+201270088062" target="_blank">
              <i class="fa-solid fa-phone-volume"></i> telephone
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="https://www.youtube.com/watch?v=UdZ9mE9qmPo" target="_blank">
              <i class="fa-brands fa-youtube"></i> youtube
            </a>
  
          </li>
        </ul>

      </div>
    </div>

    <hr class="w-100 m-auto">
    <div class="reserved">
      <h3 class="mb-0 fw-bolder">created by mr. web devolopment &DoubleVerticalBar; all rights reserved</h3>
    </div>
  </footer>
  
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="../js/swiper.js"></script>
  <script src="../js/dynamic.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/JQuery.js"></script>
  
  
</body>

</html>