<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="../favicon/ferarri.jpg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
  <title>Car &Aacute; Services</title>
</head>

<body>

  <nav class="up__nav navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <div class="logo__div">
        <a href="home.html" class="navbar-brand text-decoration-none text-body-emphasis">
          <img src="../images/homeImages/vecteezy_sports-car-logo_7414852.png" alt="Car Logo" style="width: 70px;">
          <span class="text-danger-emphasis align-middle fw-bolder">automotive</span>
        </a>
      </div>
      <button class="navbar-toggler nav__bu" type="button" data-bs-toggle="collapse"
        data-bs-target="#content__responsive" aria-controls="content__responsive" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse content " id="content__responsive">
        <ul class="navbar-nav m-auto  mb-2 mb-lg-0">

          <li class="mb-2"><a class="text-decoration-none" href="home.html"><i class="fa-solid fa-house"></i>home</a>
          </li>
          <li class="mb-2"><a class="text-decoration-none" href="cars.html"><i class="fa-solid fa-car"></i>cars</a></li>
          <li class="mb-2"><a class="text-decoration-none" href="services.html"><i
                class="fa-solid fa-print"></i>services</a></li>
          <li class="mb-2"><a class="text-decoration-none" href="about.html"><i
                class="fa-regular fa-address-card"></i>about</a></li>
          <li class="mb-2"><a class="text-decoration-none" href="../../index.html"><i
                class="fa-solid fa-arrow-right-from-bracket"></i>log out</a></li>

        </ul>
        <ul class="navbar-nav m-0  mb-2 mb-lg-0 list-of-communication">
          <li>
            <a class="text-decoration-none" href="https://www.facebook.com/groups/297975541680668/">
              <i class="fa-brands fa-facebook"></i><span class="d-lg-none">facebook</span>
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="tel:+201270088062">
              <i class="fa-solid fa-phone-volume"></i><span class="d-lg-none">telephone</span>
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="https://www.youtube.com/watch?v=UdZ9mE9qmPo">
              <i class="fa-brands fa-youtube"></i><span class="d-lg-none">youtube</span>
            </a>
          </li>
        </ul>
      </div>


    </div>
  </nav>


  <!-- cards of  services -->
  <section class="cards_services text-center ">
    <h2 class="mt-5 border-bottom border-5 ">our services</h2>
    <div class="cards_situation__container mt-5 mb-5 ">
      <div class="cards car_sailing">

        <div class="cards_logo mb-5"><i class="fa-solid fa-car"></i></div>
        <h3 class="h3 mb-5 fw-bolder">car selling</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <button class="btn btn-outline-primary" onclick="window.location='cars.html'">click here</button>
      </div>
      <div class="cards parts_repaire">

        <div class="cards_logo mb-5"><i class="fa-solid fa-screwdriver-wrench"></i></div>
        <h3 class="h3 mb-5 fw-bolder">parts repaire</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <button class="btn btn-outline-primary" onclick="window.location='services.html'">click here</button>
      </div>
      <div class="cards car-insurance">

        <div class="cards_logo mb-5"><i class="fa-solid fa-car-burst"></i></div>
        <h3 class="h3 mb-5 fw-bolder">car insurence</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <button class="btn btn-outline-primary" onclick="window.location='services.html'">click here</button>
      </div>
      <div class="cards battary_replacement">

        <div class="cards_logo mb-5"><i class="fa-solid fa-car-battery"></i></div>
        <h3 class="h3 mb-5 fw-bolder">battery replacement</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <button class="btn btn-outline-primary" onclick="window.location='services.html'">click here</button>
      </div>
      <div class="cards oil-change">

        <div class="cards_logo mb-5"><i class="fa-solid fa-oil-can"></i></div>
        <h3 class="h3 mb-5 fw-bolder">oil change</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <button class="btn btn-outline-primary" onclick="window.location='services.html'">click here</button>
      </div>

      <div class="cards support">

        <div class="cards_logo mb-5"><i class="fa-solid fa-headset"></i></div>
        <h3 class="h3 mb-5 fw-bolder">support</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <button class="btn btn-outline-primary" onclick="window.location='services.html'">click here</button>

      </div>

    </div>
  </section>
  <!-- end cards of services -->




  <footer class="text-center">
    <div class="contactFooter">
      <div class="p-3">

        <h2 class="fw-bolder">our branches</h2>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="https://goo.gl/maps/c6jThwkyiut7XvhK6" target="_blank"><i
                class="fa-solid fa-location-dot"></i> japanese</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/CJzUJLtw2aRb5mRk9" target="_blank"><i
                class="fa-solid fa-location-dot"></i> england</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/CVSoxmEhfQ5ciRXZ6" target="_blank"><i
                class="fa-solid fa-location-dot"></i> america</a></li>
          <li><a class="text-decoration-none" href="https://goo.gl/maps/r87z3SvnJNJ5NayH9" target="_blank"><i
                class="fa-solid fa-location-dot"></i> france</a></li>
        </ul>

      </div>
      <div class="p-3">

        <h2 class="fw-bolder">quick link</h2>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="home.html"><i class="fa-solid fa-house"></i> home</a></li>
          <li><a class="text-decoration-none" href="cars.html"><i class="fa-solid fa-car"></i> cars</a></li>
          <li><a class="text-decoration-none" href="services.html"><i class="fa-solid fa-print"></i> services</a></li>
          <li><a class="text-decoration-none" href="about.html"><i class="fa-regular fa-address-card"></i> about</a>
          </li>
        </ul>

      </div>
      <div class="p-3">

        <h2 class="fw-bolder">contact info</h2>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none" href="https://www.facebook.com/groups/297975541680668/" target="_blank">
              <i class="fa-brands fa-facebook"></i> facebook
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="tel:+201270088062" target="_blank">
              <i class="fa-solid fa-phone-volume"></i> telephone
            </a>
          </li>

          <li>
            <a class="text-decoration-none" href="https://www.youtube.com/watch?v=UdZ9mE9qmPo" target="_blank">
              <i class="fa-brands fa-youtube"></i> youtube
            </a>
          </li>
        </ul>

      </div>
    </div>

    <hr class="w-100 m-auto">
    <div class="reserved">
      <h3 class="mb-0 fw-bolder">created by mr. web devolopment &DoubleVerticalBar; all rights reserved</h3>
    </div>

  </footer>


  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/JQuery.js"></script>
  <script src="../js/dynamic.js"></script>
</body>

</html>